*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Inter,sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#080808;
    color:#fff;
}

/* Navbar */

.navbar{
    height:70px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 30px;

    border-bottom:1px solid rgba(255,0,0,.05);

    background:#0b0b0b;
}

.logo{
    color:#ff3b3b;
    font-weight:700;
    font-size:1.2rem;
}

.nav-links{
    display:flex;
    gap:20px;
}

.nav-links a{
    text-decoration:none;
    color:#aaa;
    transition:.3s;
}

.nav-links a:hover{
    color:#ff4d4d;
}

/* Hero */

.hero{
    min-height:50vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:50px 20px;
}

.hero h1{
    font-size:3rem;
    margin-bottom:15px;
}

.hero p{
    max-width:700px;
    color:#888;
    line-height:1.8;
}

.btn{
    margin-top:25px;

    padding:12px 24px;

    border-radius:12px;

    text-decoration:none;

    color:#ff5a5a;

    border:1px solid rgba(255,0,0,.1);

    background:rgba(255,0,0,.04);

    transition:.3s;
}

.btn:hover{
    background:rgba(255,0,0,.08);
}

/* Docs */

.docs{
    width:min(1400px,95%);
    margin:auto;

    display:flex;
    gap:25px;

    padding-bottom:80px;
}

/* Sidebar */

.sidebar{
    width:260px;

    background:#0d0d0d;

    border:1px solid rgba(255,0,0,.05);

    border-radius:16px;

    padding:20px;

    height:max-content;

    position:sticky;
    top:20px;
}

.sidebar h3{
    color:#ff4a4a;
    margin-bottom:15px;
}

.sidebar a{
    display:block;

    padding:10px;

    border-radius:10px;

    text-decoration:none;

    color:#999;

    transition:.3s;
}

.sidebar a:hover{
    background:rgba(255,0,0,.05);
    color:#fff;
}

/* Content */

.content{
    flex:1;
}

.card{
    background:#101010;

    border:1px solid rgba(255,0,0,.05);

    border-radius:18px;

    padding:25px;

    margin-bottom:25px;
}

.card h2{
    margin-bottom:15px;
    color:#ff4f4f;
}

.endpoint{
    background:#090909;

    border-left:4px solid #ff4040;

    padding:15px;

    border-radius:10px;

    margin-bottom:15px;

    color:#ff6666;

    font-family:monospace;
}

pre{
    background:#090909;

    padding:15px;

    border-radius:12px;

    overflow:auto;

    color:#ddd;
}

/* Mobile */

@media (max-width:900px){

    .docs{
        flex-direction:column;
    }

    .sidebar{
        width:100%;
        position:relative;
        top:0;
    }

}

@media (max-width:600px){

    .hero h1{
        font-size:2rem;
    }

    .navbar{
        flex-direction:column;
        height:auto;
        padding:20px;
        gap:10px;
    }

}